name = "react-hono-drizzle-cloudflare-template-api"
main = "src/app.ts"
compatibility_date = "2024-10-04"
compatibility_flags = ["nodejs_compat"]
minify = true

[env.dev]
vars = { ALLOWED_HOST = "*", ENV = "dev" }
d1_databases = [
    { binding = "DB", database_name = "react-hono-drizzle-cloudflare-template-db-prod", database_id = "0843dcbc-c9fe-4ea5-ab8f-ca20630e09fb", migrations_dir = "src/db/migrations" },
]

[env.stage]
name = "react-hono-drizzle-cloudflare-template-api-stage"
workers_dev = true
vars = { ALLOWED_HOST = "https://stage.web.react-hono-drizzle-cloudflare-template.alikehel.dev/", ENV = "stage" }
d1_databases = [
    { binding = "DB", database_name = "react-hono-drizzle-cloudflare-template-db-prod", database_id = "0843dcbc-c9fe-4ea5-ab8f-ca20630e09fb", migrations_dir = "src/db/migrations" },
]

[env.prod]
name = "react-hono-drizzle-cloudflare-template-api-prod"
workers_dev = true
vars = { ALLOWED_HOST = "https://prod.web.react-hono-drizzle-cloudflare-template.alikehel.dev/", ENV = "prod" }
d1_databases = [
    { binding = "DB", database_name = "react-hono-drizzle-cloudflare-template-db-prod", database_id = "0843dcbc-c9fe-4ea5-ab8f-ca20630e09fb", migrations_dir = "src/db/migrations" },
]

[observability]
enabled = true
head_sampling_rate = 1

# [vars]
# MY_VAR = "my-variable"

# [[kv_namespaces]]
# binding = "MY_KV_NAMESPACE"
# id = "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"

# [[r2_buckets]]
# binding = "MY_BUCKET"
# bucket_name = "my-bucket"


# [ai]
# binding = "AI"
