name = "todoapp-api"
main = "src/app.ts"
compatibility_date = "2024-10-04"
compatibility_flags = ["nodejs_compat"]
minify = true

[env.dev]
vars = { ALLOWED_HOST = "*", ENV = "dev" }

[env.stage]
name = "todoapp-api-stage"
workers_dev = true
vars = { ALLOWED_HOST = "https://todoapp-web-stage.pages.dev/", ENV = "stage" }

[env.prod]
name = "todoapp-api-prod"
workers_dev = true
vars = { ALLOWED_HOST = "https://todoapp-web-prod.pages.dev/", ENV = "prod" }

# [vars]
# MY_VAR = "my-variable"

# [[kv_namespaces]]
# binding = "MY_KV_NAMESPACE"
# id = "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"

# [[r2_buckets]]
# binding = "MY_BUCKET"
# bucket_name = "my-bucket"

# [[d1_databases]]
# binding = "DB"
# database_name = "my-database"
# database_id = ""

# [ai]
# binding = "AI"

[observability]
enabled = true
head_sampling_rate = 1
