name: CI - Production
on:
    push:
concurrency:
    group: ${{ github.workflow }}-${{ github.ref }}
    cancel-in-progress: true
permissions:
    actions: write
    contents: read
jobs:
    lint:
        name: 游띔 Lint
        runs-on: ubuntu-latest
        steps:
            - name: 拘勇 Checkout repo
              uses: actions/checkout@v4
            - uses: pnpm/action-setup@v3
              name: 游닌 Install pnpm
              with:
                  version: 9
                  run_install: false
            - name: 游닌 Setup node
              uses: actions/setup-node@v4
              with:
                  node-version: 22.9.0
            - name: 游닌 Install deps
              run: pnpm install
            - name: 游댧 Lint
              run: pnpm run lint
    typecheck:
        name: 游띔 Types
        runs-on: ubuntu-latest
        steps:
            - name: 拘勇 Checkout repo
              uses: actions/checkout@v4
            - uses: pnpm/action-setup@v3
              name: 游닌 Install pnpm
              with:
                  version: 9
                  run_install: false
            - name: 游닌 Setup node
              uses: actions/setup-node@v4
              with:
                  node-version: 22.9.0
            - name: 游닌 Install deps
              run: pnpm install
            - name: 游댍 Type check
              run: pnpm run typecheck
    deploy-web:
        name: 游 Deploy web
        if: ${{ github.ref == 'refs/heads/main' && github.event_name == 'push' }}
        needs: [lint, typecheck]
        runs-on: ubuntu-latest
        env:
            CLOUDFLARE_ACCOUNT_ID: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
            CLOUDFLARE_API_TOKEN: ${{ secrets.CLOUDFLARE_API_TOKEN }}
            GITHUB_REF_NAME: ${{ github.ref_name }}
            GITHUB_SHA: ${{ github.sha }}
        steps:
            - name: 拘勇 Checkout repo
              uses: actions/checkout@v4
            - uses: pnpm/action-setup@v3
              name: 游닌 Install pnpm
              with:
                  version: 9
                  run_install: false
            - name: 游닌 Setup node
              uses: actions/setup-node@v4
              with:
                  node-version: 22.9.0
            - name: 游닌 Install deps
              run: pnpm install
            - name: 丘뙖잺 Build
              run: pnpm run web build
            - name: 游 Deploy web
              run: pnpm run web deploy:prod
    deploy-api:
        name: 游 Deploy api
        if: ${{ github.ref == 'refs/heads/main' && github.event_name == 'push' }}
        needs: [lint, typecheck]
        runs-on: ubuntu-latest
        env:
            CLOUDFLARE_ACCOUNT_ID: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
            CLOUDFLARE_API_TOKEN: ${{ secrets.CLOUDFLARE_API_TOKEN }}
            GITHUB_REF_NAME: ${{ github.ref_name }}
            GITHUB_SHA: ${{ github.sha }}
        steps:
            - name: 拘勇 Checkout repo
              uses: actions/checkout@v4
            - uses: pnpm/action-setup@v3
              name: 游닌 Install pnpm
              with:
                  version: 9
                  run_install: false
            - name: 游닌 Setup node
              uses: actions/setup-node@v4
              with:
                  node-version: 22.9.0
            - name: 游닌 Install deps
              run: pnpm install
            #   - name: 丘뙖잺 Build
            #     run: pnpm run api build
            - name: 游 Deploy api
              run: pnpm run api deploy:prod
