name: Deploy

on:
    push:
        branches:
            - main

jobs:
    deploy:
        runs-on: ubuntu-latest
        name: Deploy
        defaults:
            run:
                working-directory: ./apps/api
        steps:
            - uses: actions/checkout@v4
            - name: Deploy
              working-directory: ./apps/api
              uses: cloudflare/wrangler-action@v3
              with:
                  apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
